/* MESSAGE STYLING */
.message_formWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
}

#message_Input {
        width: 95vw;
        height: 25px;
}

#message_Output {
}

#messageCard {
        background-color: rgb(243, 243, 243);
}

#message_sendButton {
        width: 5vw;
}
/* END OF MESSAGE STYLING*/